page-about {
    shrinking-segment-header {
        background-image: linear-gradient(rgba(2, 2, 2, 0.5), rgba(35, 33, 33, 0.37)), url(../assets/img/about/bg.jpg);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        .ion-toolbar,
        .toolbar {
            position: absolute !important;
            top: 0px !important;
        }
        ion-segment {
            position: absolute;
            bottom: 0px;
        }
    }
}