page-about {
    .segment-button {
        color: white !important;
    }
    .about-segment {
        margin-top: 56px !important;
    }
    .card-img {
        width: 200px !important;
        ;
        display: inline !important;
        ;
    }
    .about-bg {
        background-image: linear-gradient(rgba(2, 2, 2, 0.5), rgba(35, 33, 33, 0.37)), url(../assets/img/about/bg.jpg);
    }
}