page-project-spec-details {
    .content-wrap p {
        color: #fff;
        margin-top: 10%;
    }
    .spec-image {
        padding: 10px 10px;
        text-align: center;
        background: white;
        position: absolute;
        width: calc(100% - 24px);
        bottom: 9px;
    }
    .spec-image img {
        width: auto !important;
        display: inline;
        min-height: 80px;
    }
    .disclaimer-card ion-card-content {
        overflow: auto;
        height: calc(100% - 230px);
        text-align: justify;
    }
}