page-project-brochure {
    .card {
        background: transparent;
        box-shadow: none !important;
        text-align: center;
    }
    .broucher-card .project-img {
        width: 60%;
        position: relative;
        display: inline;
        height: 215px;
    }
    .broucher-card .button {
        margin-top: 25px !important;
    }
    ion-card-content {
        padding: 0px !important;
    }
}