page-project-spec {
    .spec-name {
        color: #fff;
    }
    .spec-image {
        background: #fff;
        padding: 2% 25%;
    }
    .spec-image img{
        width: 87px;
        height: 80px;
    }
}
