page-home {
ion-content {
    background-image: url('https://lh3.google.com/u/0/d/0B0ZQQcCu007bdjhyUFFxa3F1Tk0=w1366-h638-iv1');
    background-size: cover;
    background-position-x: 50%;
  }
  .bar-buttons,
  .toolbar-title {
    color: #fff;
  }
}
