// For 3d animations
ion-menu[type='3d'],
ion-menu[type='3d-open'],
ion-menu[type='3d-skew'],
ion-menu[type='3d-fall-down'],
ion-menu[type='3d-float-up'],
ion-menu[type='3d-scale-back'],
ion-menu[type='3d-scale-up'],
ion-menu[type='3d-rotate-out'],
ion-menu[type='3d-reverse-slide'],
ion-menu[type='3d-content-down'] {
    &.show-menu {
        .menu-inner {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}

ion-menu[type='3d-rotate-out'].show-menu .menu-inner {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

ion-menu[type='3d-scale-back'] {
    .show-backdrop {
        display: block;
    }
}

.menu-content-3d,
.menu-content-3d-open,
.menu-content-3d-skew,
.menu-content-3d-fall-down,
.menu-content-3d-float-up,
.menu-content-3d-scale-back,
.menu-content-3d-scale-up,
.menu-content-3d-rotate-out,
.menu-content-3d-reverse-slide,
.menu-content-3d-content-down {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

// Full with for '3d' sidemenu
// You can make it permanent by set up $menu-width in variables.scss
.fullWidthMenu {
    .menu-inner {
        width: 100% !important;
    }
}

.title-center .title.title-md {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.bar-buttons,
.toolbar-title {
    color: #fff;
}

.back-button {
    z-index: 3 !important;
    color: #fff !important;
}

ion-menu {
    ion-content {
        background-color: #007854 !important;
    }
    .item {
        background-color: transparent !important;
        color: #fff;
    }
    .menu-logo {
        width: 110px;
        padding: 20px 0px 0px 11px;
    }
    ion-list {
        width: 60%;
    }
    .item-inner {
        border: none !important;
    }
    button.item {
        font-size: 14px;
        font-weight: 300;
        min-height: 3.5rem !important;
        height: 3.5rem;
        letter-spacing: 1px;
    }
    .mt40 {
        margin-top: 40px !important;
    }
    ion-footer ion-col.col {
        text-align: center;
        color: #fff;
        border-right: 1px solid #006f4d;
        padding: 5px 0px;
        font-size: 12px;
        font-weight: 300;
    }
    .grid {
        padding: 0px;
    }
}

.no-boxshadow {
    box-shadow: none !important;
}

ion-content.fs-bg {
    background-image: url('../assets/img/bg.jpg');
    background-size: cover;
    background-position-x: 50%;
}

.fs-bg1 {
    background-image: url('../assets/img/bg.jpg');
    background-size: cover;
    background-position-x: 50%;
}

.fz12 {
    font-size: 12px !important;
}

.bar-buttons,
.toolbar-title {
    color: #fff;
}

.disclaimer-card ion-card-header.card-header {
    text-align: center !important;
}

.disclaimer-card {
    border-radius: 0px !important;
    height: calc(100% - 20px);
}

.border-bottom {
    border-bottom: 1px solid #efefef;
}

.disclaimer-card img {
    display: inline !important;
    width: 115px;
}

.disclaimer-card .heading {
    font-size: 22px;
    font-weight: 300;
    padding: 5px;
}

.disclaimer-card .content-wrap {}

.disclaimer-card ol {
    padding: 14px;
    text-align: justify;
    margin-top: 0;
}

.disclaimer-card ol,
.disclaimer-card ul,
.disclaimer-card li {
    font-size: 12px !important;
    margin-bottom: 10px !important;
}

.disclaimer-card .scroll-content {
    overflow-x: hidden;
    overflow-y: hidden;
}

.disclaimer-card ion-card-content {
    overflow: auto;
    height: calc(100% - 211px);
    text-align: justify;
}

.disclaimer-card .ion-grid {
    position: absolute !important;
    width: 100%;
    bottom: 10px;
}

.disclaimer-card .footer {
    background: white;
    position: absolute;
    width: calc(100% - 20px);
    bottom: 9px;
}

.disclaimer-card .accept-btn {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -15px;
}

.disclaimer-card .reject-btn {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: -15px;
    float: right;
}

.justify {
    text-align: justify !important;
}

.center {
    text-align: center !important;
}

.site-visit .title {
    font-size: 24px;
    color: #fff;
}

.page-heading {
    font-size: 20px;
    color: #fff;
}

.site-visit .footer {
    background: transparent !important;
}

.site-visit .accept-btn {
    background-color: rgba(0, 111, 77, 0.47);
}

.site-visit {
    background-image: url('../assets/img/visit/modal-outer-optimized.jpg') !important;
}

.site-visit .clos-btn {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 100 !important;
    color: #dedada;
}

// About Page
.about-bg.custom-toolbar {
    display: block;
    padding: 0px;
    min-height: 154px;
}

.about-content .scroll-content {
    padding-top: 154px !important;
}

.about-bg .toolbar-background {
    background: rgba(97, 93, 93, 0);
}

.about-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

// End About page
.header-icon {
    display: block !important;
    margin-top: -5px;
}