<ion-header no-border>
  <ion-navbar transparent class="title-center">
    <ion-title (click)="presentPopover($event)">Amenities
      <ion-icon name="ios-arrow-down-outline" class="header-icon"></ion-icon>
    </ion-title>
  </ion-navbar> 
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="club-house">
      Club House
    </ion-segment-button>
    <ion-segment-button value="external-amenities">
      External Amenities
    </ion-segment-button>
    <ion-segment-button value="security-n-safety">
      Security & Safety
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content class="fs-bg">
  <div *ngIf="segment == 'club-house'">
    <ion-grid>
      <ion-row>
        <span *ngFor="let amenity of amenities" col-6>
            <div class="amenity-image" *ngIf="amenity.amenity_slug == 'club-house'">
              <img src="{{amenity.url}}" alt="">
              <div class="amenity-name">{{amenity.amenities_name}}</div>
            </div>
        </span>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="segment == 'external-amenities'">
    <ion-row>
        <span *ngFor="let amenity of amenities" col-6>
            <div class="amenity-image" *ngIf="amenity.amenity_slug == 'external-amenities'">
              <img src="{{amenity.url}}" alt="">
              <div class="amenity-name">{{amenity.amenities_name}}</div>
            </div>
        </span>
      </ion-row>
  </div>
  <div *ngIf="segment == 'security-n-safety'">
    <ion-row>
        <span *ngFor="let amenity of amenities" col-6>
            <div class="amenity-image" *ngIf="amenity.amenity_slug == 'security-and-safety'">
              <img src="{{amenity.url}}" alt="">
              <div class="amenity-name">{{amenity.amenities_name}}</div>
            </div>
        </span>
      </ion-row>
  </div>
  
</ion-content>
