page-emi-calculator {
    .emi-result ion-item {
        background: transparent !important;
        padding-left: 0px !important;
    }
    .emi-result .value-icon {
        width: 15px;
        display: inline-block !important;
        vertical-align: top !important;
        margin-top: 5px;
    }
    .emi-result .value-text {
        display: inline-block !important;
        vertical-align: top !important;
        color: #fff;
        font-size: 30px;
    }
    .emi-result .key {
        color: #91b5be !important;
        padding: 5px 0px 10px;
    }
    .emi-result ion-label {
        margin-bottom: 0px !important;
    }
    .emi-card ion-item .item-inner {
        padding-right: 0px !important;
    }
    .submit-button {
        margin-left: -32px !important;
    }
    .dismiss-btn {
        position: absolute;
        right: 0;
        top: 0;
        background: transparent;
    }
}